body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #886a6b;
}
header {
    background-color: #886a6b;
    color: rgb(255, 255, 255);
    padding: 10px 0;
    text-align: center;
}
header h1 {
    margin: 0;
}
main {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.column {
    flex: 1;
    margin: 0 10px;
    padding: 10px;
    height: 850px;
    border: 1px solid #000000;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);

    color: white;
}
.column h2 {
    text-align: center;
}

/* NOTE FORM */
#todo-form {
    display: flex;
    flex-direction: column;
}
#todo-form label {
    margin-top: 10px;
}
#todo-form input, #todo-form textarea {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#todo-form button {
    margin-top: 20px;
    padding: 10px;
    background-color: #644e4f;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}
#todo-form button:hover {
    background-color: #4a3a3a;
}
#todo-list {
    list-style-type: none;
    padding: 0;
}
#todo-list li {
    background-color: #f9f9f9;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
}

/* Note Template */
#notes-list {
    list-style-type: none;
    padding: 0;
}

.note-box {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    background-color: #a5898a;
    position: relative;
    overflow: hidden;
}

.note-box::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    rotate: -90deg;
    border-style: solid;
    border-width: 0 0 40px 40px; /* Adjust the size as needed */
}

.importance-1::before {
    border-color: transparent transparent #ffcccc transparent;
}

.importance-2::before {
    border-color: transparent transparent #ff9999 transparent;
}

.importance-3::before {
    border-color: transparent transparent #ff6666 transparent;
}

.importance-4::before {
    border-color: transparent transparent #ff3333 transparent;
}

.importance-5::before {
    border-color: transparent transparent #ff0000 transparent;
}

/* Remove .note-importance style if it exists */
.note-importance {
    display: none;
}

.note-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.note-name {
    font-weight: bold;
}

.note-importance {
    font-size: 0.9em;
    color: #662727;
    font-weight: bold;
}

.note-description {
    margin-top: 20px;
    margin-bottom: 35px;
}

.delete-button {
    align-self: flex-end;
    padding: 5px 10px;
    background-color: #886a6b;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
}

.delete-button:hover {
    background-color: #8e4949;
}