body {
    background: #24201f;
    box-sizing: content-box;
    font-family: monospace;
  }
  
  .menu {
    position: fixed;
    height: 100vh;
    background: #24201f;
    width: 10vw;
    transition: 1s;
    overflow: hidden; /* Ensures the pseudo-elements don't overflow */
  }
  
  .menu .line {
    content: '';
    display: block;
    height: 2px;
    background-color: #fff;
    position: absolute;
    width: 60%;
    left: 50%;
    transform: translateX(-50%);
    transition: transform 0.3s ease;
  }
  .menu .line:nth-child(1) {
    top:5%;
  }
  .menu .line:nth-child(2) {
    top:7%;
  }
  .menu .line:nth-child(3) {
    top:9%;
  }

  .menu:hover {
    width: 25vw;
    background: #3d3e40;
  }
  
  .menu:hover ~ .container {
    transform: translateX(15vw);
  }
  
  .menu:hover nav {
    left: 20%;
  }
  
  .container {
    width: 90%;
    margin-left: 10vw;
    background: #24201f;
    transition: 1s;
    transform-origin: left center;
    color: #D2D2D0;
  }
  
  .container .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 28vh;
    padding-left: 10%;
    height: 70vh;
  }
  
  .container .content:first-child {
    display: block;
  }
  
  nav {
    position: absolute;
    margin-top: 50%;
    left: -1000px;
    transition: .5s;
  }
  
  nav ul {
    color: white;
    text-transform: uppercase;
    list-style-type: none;
    padding-left: 0;
  }
  
  nav li {
    line-height: 2em;
    letter-spacing: .3em;
    margin-bottom: 10px; /* Add margin between each nav link */
  }
  
  
  nav a {
    font-size: 30px;
    text-decoration: none;
    color: white;
    font-weight: 600;
  }
  
  nav a:hover {
    color: #8a8d91; /* Change color on hover */
    font-size: 32px; /* Increase font size on hover */
  }
  
  p {
    line-height: 1.5em;
  }
  
  h1 {
    color: #bbb;
  }
  